<script lang="ts">
	import {goto, params, ready} from "@roxi/routify";

	import {db} from "../../account";
	import {idToTitle, urlDecodeRecipeId} from "../../db";
	import Recipe, {type SaveEvent} from "../../Recipe.svelte";

	$: id = urlDecodeRecipeId($params.id as string);
	$: title = idToTitle(id);

	$: recipe = $db && $db.load(id);
	$: if (recipe) void recipe.then($ready);

	function save({url}: SaveEvent) {
		$goto(url);
	}
</script>

{#if recipe}
	{#await recipe}
		<p>loading <b>{title}</b>...</p>
	{:then recipe}
		<Recipe {id} recipe={recipe} onSave={save} />
	{:catch error}
		<p>Error loading <b>{title}</b>: {error}</p>
	{/await}
{/if}
