<div class=e404>
	<h1>404</h1>
	<p>
		Page not found.
		<a href="/">Go back home?</a>
	</p>
</div>

<style>
div {
	flex: 1;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font: 12rem sans-serif;
	margin: 1rem;
}
</style>
