<script>
	import { isChangingPage } from "@roxi/routify";
	
	import {db} from "../account";
	import Account from "../Account.svelte";
	import loading from "../loading.svg";
</script>

<nav>
	<h1><a href="/">Recipes</a></h1>
	<Account/>
</nav>
<main class:hide={$db === false}>
	<slot/>
	{#if $db === false}
		<p>Login to create and view recipes.</p>
	{:else}
		{#if $isChangingPage || $db === undefined}
			<img src={loading} alt=""/>
		{/if}
	{/if}
</main>
<footer>
	<a href="https://gitlab.com/kevincox/recipes">This website is open source, contributions welcome</a>
</footer>

<style lang="scss">
nav {
	display: flex;
	justify-content: space-between; // Fine while we have 2 elements.
	align-items: center;
	padding: 0.4em;
	gap: 1em;

	background: var(--primary-bg);
	color: var(--primary-fg);

	box-shadow: 0 4px 8px 0 #0004;

	h1 {
		font-size: 25px;
		margin: 0 0 0 0.4em;

		a {
			text-decoration: none;
		}
	}
}

main {
	position: relative;
	display: flex;
	flex-flow: column;
	margin: 1em;
	flex-grow: 1;
}

main.hide > :global(*) {
	display: none;
}
main.hide > * {
	display: block;
}

footer {
	margin: 0.2em;
	text-align: center;
}

a {
	color: inherit !important;
}

img {
	width: 4em;
	height: 4em;

	flex: 1;
	align-self: center;
}
</style>
