<script lang="ts">
	import { goto } from "@roxi/routify";

	import {SCHEMA,VERSION_READ, VERSION_WRITE} from "../recipe";
	import Recipe from "../Recipe.svelte";

	const recipe = {
		$schema: SCHEMA,
		version_read: VERSION_READ,
		version_write: VERSION_WRITE,

		title: "New Recipe",
		servings: 4,
		ingredients: [{
			amount: "10",
			unit: "g",
			name: "whipped cream",
		}],
		steps: [{
			instruction: "Eat with a spoon",
		}],
	};
</script>

<Recipe {recipe} edit onSave={info => { $goto(info.url) }} />
