<script>
	import { goto, ready } from "@roxi/routify";

	import { delayMs } from "../utils";

	let msg = "";

	async function hashChanged() {
		if (!location.hash) {
			await delayMs(10_000);
			msg ||= "Error: Expected URL parameters not found.";
		} else if (location.hash.startsWith("#!/")) {
			$goto(decodeURI(location.hash.slice(2)));
		} else {
			msg = "Bad redirect.";
		}
	}
	void hashChanged();

	$: if (msg) $ready();
</script>

<svelte:window on:hashchange={hashChanged}/>

{#if msg}
	<p>{msg} <a href=/ >Go to your recipe list?</a></p>
{/if}
