<script lang="ts">
	import RemoteStorageWidget from "remotestorage-widget";
	import * as svelte from "svelte";

	import {remoteStorage} from "./account";

	let widget = new RemoteStorageWidget(remoteStorage, {
		modalBackdrop: false,
	});
	svelte.onMount(() => { widget.attach("remotestorage-widget-container") });
</script>

<div id=remotestorage-widget-container/>

<style>
:global(.rs-widget) {
	margin: 0 !important;
}
</style>
