<script context="module" lang="ts">
	import spinner from "./loading.svg";
	import {ripple} from "./ripple";

	export const enum ButtonStyle {
		NONE = 0,
		PRIMARY = 1,
		SECONDARY = 2,
		DISMISS = 3,
		DANGER_PRIMARY = 6,
		DANGER = 4,
		ICON = 5,
	}

	export const SUBMIT_VALUE = "submit";
	export const CANCEL_VALUE = "cancel";
</script>

<script lang="ts">
	// Cast is to avoid https://github.com/sveltejs/eslint-plugin-svelte3/issues/203.
	export let style: ButtonStyle = ButtonStyle.SECONDARY as ButtonStyle;
	export let label = "";
	export let onClick: () => Promise<void> | void;
	export let enabled = true;
	export let value: number | string = "";
	export let tabindex: number | undefined = undefined;

	export let element = "button";

	// This is to tick typescript into accepting the button-specific attributes we (conditionally) set.
	$: elementFake = element as "button";

	export async function displayAction(f: () => Promise<void> | void): Promise<void> {
		let v = ++version;
		try {
			let r = f();
			error = "";
			if (r) {
				loading = true;
				await r;
			}
		} catch (e) {
			console.error("onClick failed", e, version == v);
			if (version == v) {
				// eslint-disable-next-line @typescript-eslint/restrict-template-expressions
				error = `${e}` || "An error has occurred.";
			}
		}
		if (version == v) {
			loading = false;
		}
	}

	let version = 0;
	let loading = false;
	let error = "";

	function handleClick() {
		void displayAction(onClick);
	}
</script>

<svelte:element
	this={elementFake}
	type={(element == "button" && !value) ? "button" : undefined}
	disabled={!enabled}
	{value}
	{tabindex}
	use:ripple
	class="b s{style}"
	class:loading
	class:error
	on:click={handleClick}
	title={label}
	aria-label={label}
	>
	<div class=c><slot/></div>
	{#if loading}
		<img src={spinner} alt="loading..."/>
	{:else if error}
		<div class=e title={error}>⚠️</div>
	{/if}
</svelte:element>

<style lang="scss">
.b {
	font-size: 1em;

	display: flex;
	align-items: center;
	gap: 0.1em;

	padding: 0.4em 1em;
	border: none;
	background: none;

	cursor: pointer;

	&:disabled {
		color: #444;
		cursor: not-allowed;
	}

	&:not(.s0 /* NONE */) {
		border-radius: 0.2em;
	}

	&:hover {
		background: #0002;
	}
}
.s1 /* PRIMARY */ {
	color: var(--primary-fg);
	background: var(--primary-bg);

	&:hover {
		background: var(--primary-bg-focus);
	}

	img {
		filter: invert(100%) hue-rotate(180deg);
	}
}
.s2 /* SECONDARY */ {
	border: 1px solid currentcolor;

	&:hover {
		background: #0002;
	}
}
.s3 /* DISMISS */ {
	color: #333;
	border: 1px solid #CCC;
}
.s6 /* DANGER_PRIMARY */ {
	color: #FFF;
	background: #F00;
	border: 1px solid #F00;

	&:hover {
		color: #F00;
		background: #FDD;
	}
}
.s4 /* DANGER */ {
	color: #F00;
	border: 1px solid #F00;
	&:hover {
		background: #FDD;
	}
}
.s5 /* ICON */ {
	font-size: 0.7em;
	padding: 0.4em;

	&.loading, &.error {
		.c {
			transform: scale(0);
		}
		img, .e {
			left: 0;
			right: 0;
			width: auto;
		}
	}
}

.error:not(.s1 /* PRIMARY */) {
	border: 1px solid #F00;
	background: #FDD;
}

.c {
	transition: transform 0.2s;

	:is(.error, .loading) & {
		transition-delay: 0.2s;
		transform: translateX(0.6em);
	}
}

img, .e {
	position: absolute;
	font-size: 0.8em;
	width: 1em;
	left: 0.5em;

	text-shadow: 0 0 2px #000;
}

img {
	animation: 0.2s ease 0.2s both img;
	transform: scale(0);
}

@keyframes img {
	to {
		transform: scale(1);
	}
}
</style>
