<script lang="ts">
	import Button, {ButtonStyle, CANCEL_VALUE} from "./Button.svelte";
	import {noop} from "./utils";
</script>

<Button value={CANCEL_VALUE} style={ButtonStyle.DISMISS} onClick={noop}>
	Cancel
</Button>
