.chip {
	font-size: 1em;
	display: inline-block;
	line-height: normal;
	border: none;
	border-radius: 1em;
	background-color: #DDD;
	padding: 0.2em 0.6em;
	cursor: pointer;
	user-select: auto;

	&:hover {
		background: #EEE;
	}
}
