<script context="module" lang="ts">
	import type { ComponentProps } from "svelte";

	import {ButtonStyle} from "./Button.svelte";
	import ButtonList from "./ButtonList.svelte";
	import CancelButton from "./CancelButton.svelte";
	import Dialog from "./Dialog.svelte";
	import SubmitButton from "./SubmitButton.svelte";

	export const enum ConfirmRenameAction {
		RENAME,
		COPY,
	}
</script>

<script lang="ts">
	export let oldTitle: string;
	export let newTitle: string;
	export let onClose: ComponentProps<Dialog>["onClose"];
</script>

<Dialog {onClose}>
	<h1>Rename Recipe?</h1>
	<p><em>{oldTitle}</em> → <em>{newTitle}</em></p>
	<p>The title has been changed. Do you want to save <em>{newTitle}</em> as a new recipe or update <em>{oldTitle}</em>?</p>
	<ButtonList>
		<CancelButton/>
		<SubmitButton value={ConfirmRenameAction.RENAME} style={ButtonStyle.SECONDARY}>Update Existing</SubmitButton>
		<SubmitButton value={ConfirmRenameAction.COPY}>Save New</SubmitButton>
	</ButtonList>
</Dialog>
