<script lang="ts">
	import type { ComponentProps } from "svelte";

	import {ButtonStyle} from "./Button.svelte";
	import ButtonList from "./ButtonList.svelte";
	import CancelButton from "./CancelButton.svelte";
	import Dialog from "./Dialog.svelte";
	import SubmitButton from "./SubmitButton.svelte";

	export let title: string;
	export let body: string;
	export let action: string;
	export let onClose: ComponentProps<Dialog>["onClose"];
</script>

<Dialog {onClose}>
	<h1>{title}</h1>
	<p>{body}</p>
	<ButtonList>
		<CancelButton/>
		<SubmitButton style={ButtonStyle.DANGER_PRIMARY}>{action}</SubmitButton>
	</ButtonList>
</Dialog>
