<script lang="ts">
	const PopupMenu = import("./PopupMenu.svelte");

	export let isOpen = false;

	export function open(): void {
		isOpen = true;
	}

	function onClose() {
		isOpen = false;
	}
</script>

<slot name=main {open}/>
{#if isOpen}
	{#await PopupMenu then PopupMenu}
		<PopupMenu.default {onClose}>
			<slot name=menu/>
		</PopupMenu.default>
	{:catch}
		<p>Error loading context menu</p>
	{/await}
{/if}
