<script context="module" lang="ts">
	import * as svelte from "svelte";

	import {CANCEL_VALUE, SUBMIT_VALUE} from "./Button.svelte";
	import Card from "./Card.svelte";
	import {EMPTY_OBJECT, noop} from "./utils";

	const context = Symbol("Dialog");

	export class DialogContext {
		constructor(
			readonly onSubmit: (button: string) => Promise<void> | void,
		) {}
	}

	export function getDialogContext(): DialogContext | undefined {
		return svelte.getContext(context);
	}
</script>

<script lang="ts">
	export let onClose: (button?: string) => void = noop;
	export let onSubmit: (button: string) => Promise<void> | void = noop;

	let dialog: HTMLDialogElement;

	function open(dialog: HTMLDialogElement) {
		dialog.showModal();
		return EMPTY_OBJECT;
	}

	function handleSubmit(button: string): Promise<void> | void {
		let r = onSubmit(button);
		if (r) return r.then(() => onClose(button));
		onClose(button);
	}

	svelte.setContext(context, new DialogContext(handleSubmit));
</script>

<dialog
	bind:this={dialog}
	in:open
	on:close={() => {
		if (dialog.returnValue && dialog.returnValue !== CANCEL_VALUE) {
			void handleSubmit(dialog.returnValue);
		} else {
			onClose();
		}
	}}
	on:keypress={e => { e.stopPropagation() }}
	>
	<form method=dialog>
		<!-- Hidden button first as default submit button -->
		<button value={SUBMIT_VALUE}/>

		<Card>
			<slot/>
		</Card>
	</form>
</dialog>

<style>
dialog {
	padding: 0;
	border: none;
	background: none;
}

button {
	display: none;
}
</style>
