<script lang="ts">
	import {chip} from "./chip.module.scss";

	export let amount: string;
	export let unit: string;

	export function selectAll(): void {
		window.getSelection()?.setBaseAndExtent(el_span, 0, el_span, 1);
	}

	let text = `${amount} ${unit}`;
	let el_span: HTMLSpanElement;
	
	function update(t: string) {
		let parsed = t.match(/^([\d.]+)\s*(.*)$/);
		if (parsed) {
			let [_, a, u] = parsed;
			amount = a ?? "";
			unit = u ?? "";
		}
	}

	$: update(text);

</script>

<span class={chip} contenteditable=true bind:this={el_span} bind:textContent={text} />

<style>
span {
	min-width: 2em;
	text-align: center;
}
</style>
