<script lang="ts">
	import Button from "./Button.svelte";
	import {noop} from "./utils";

	export let accept: string;
	export let onSelect: (files: File[]) => Promise<void>;

	let files: FileList | undefined;

	function handleSelect(files: FileList) {
		void el_button.displayAction(() => onSelect([...files]));
	}
	$: if (files) handleSelect(files);

	let el_button: Button;
</script>

<Button bind:this={el_button} element="label" onClick={noop}>
	<slot/>
	<input type=file {accept} bind:files />
</Button>

<style lang="scss">
input {
	display: none;
}
</style>
