.fab.fab {
	font-size: 1.8rem;

	position: absolute;
	right: 0;
	bottom: 0;

	height: 1em;
	line-height: 1em;
	width: 1em;
	padding: 0.2em;
	border-radius: 1em;
	text-align: center;
	text-decoration: none;

	background: var(--secondary-bg);
	color: var(--secondary-fg);

	box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #0002, 0 1px 18px #0002;
}
