:root {
	font-family: system-ui;

	--primary-bg: #60E;
	--primary-bg-focus: #81F;
	--primary-fg: #FFF;
	--secondary-bg: #088;
	--secondary-fg: #FFF;
}

html, body {
	margin: 0;
	padding: 0;

	min-height: 100vh;
}

body {
	display: flex;
	flex-flow: column;
}
