<script lang="ts">
	import EditUnit from "./EditUnit.svelte";
	import type {Ingredient} from "./recipe";
	import Unit from "./Unit.svelte";

	export let ingredient: Ingredient;
	export let scale = 1;
	export let edit = false;
	export let onSetScale: (scale: number) => void;

	let el_unit: EditUnit;

	export function focusNew(): void {
		el_unit.selectAll();
	}
</script>

<div>
{#if edit}
	<EditUnit
		bind:this={el_unit}
		bind:amount={ingredient.amount}
		bind:unit={ingredient.unit}
	/>
	<span class=e contenteditable=true bind:textContent={ingredient.name}/>
{:else}
	<Unit
		amount={ingredient.amount}
		unit={ingredient.unit}
		{scale}
		{onSetScale}/>
	<span>{ingredient.name}</span>
{/if}
</div>

<style>
div {
	display: flex;
	align-items: center;
	gap: 0.2em;
}

.e {
	display: inline-block;
	min-width: 2em;
	border-bottom: 1px solid black;
}
</style>
