<script lang="ts">
	import { tick } from "svelte";

	import Button, {ButtonStyle} from "./Button.svelte";
	import Ingredient from "./Ingredient.svelte";
	import type {Ingredient as IngredientType} from "./recipe";

	export let ingredients: IngredientType[];
	export let edit = false;
	export let scale: number;
	export let onSetScale: (scale: number) => void;

	let el_ingredients: Ingredient[] = [];

	async function insertIngredient(i: number) {
		ingredients.splice(i, 0, {
			amount: "",
			unit: "",
			name: "",
		});
		ingredients = ingredients;
		await tick();
		el_ingredients[i]?.focusNew();
	}

	function removeIngredient(i: number) {
		ingredients.splice(i, 1);
		ingredients = ingredients;
	}

	function addIngredient() {
		return insertIngredient(ingredients.length);
	}

	async function handleIngredientKeypress(e: KeyboardEvent, i: number) {
		switch (e.key) {
		case "Enter":
			e.preventDefault();
			e.stopPropagation();
			await insertIngredient(i+1);
			return;
		}
	}
</script>

<ul>
{#each ingredients as ingredient, i (ingredient)}
	<li on:keypress={(e) => handleIngredientKeypress(e, i)}>
		{#if edit}
			<Button
				label="Delete this ingredient"
				tabindex={-1}
				style={ButtonStyle.ICON}
				onClick={() => removeIngredient(i)}
				>
				❌
			</Button>
		{/if}
		<Ingredient
			bind:this={el_ingredients[i]}
			{ingredient}
			{scale}
			{edit}
			{onSetScale}
			/>
	</li>
{:else}
	<li>No ingredients.</li>
{/each}
</ul>

{#if edit}
	<div class=add>
		<Button onClick={addIngredient}>Add Ingredient</Button>
	</div>
{/if}

<style lang="scss">
ul {
	display: flex;
	flex-flow: column;
	padding: 0;
	gap: 2px;

	> li {
		list-style: none;
		display: flex;
		gap: 0.2em;
	}
}

.add {
	display: flex;
}
</style>
