<script lang="ts">
	import type { ComponentProps } from "svelte";

	import Button, {ButtonStyle} from "./Button.svelte";
	import {getMenuContext} from "./menu";
	import MenuAction from "./MenuAction.svelte";

	type $$Props = ComponentProps<Button>;

	export let onClick: $$Props["onClick"];
	export let style: ButtonStyle = ButtonStyle.NONE;

	let menu = getMenuContext();

	async function handleClick() {
		await onClick();
		menu?.handleClose(true);
	}
</script>

<MenuAction>
	<Button {...$$props} onClick={handleClick} {style}>
		<slot/>
	</Button>
</MenuAction>
