<script lang="ts">
	import Card from "./Card.svelte";
	import {MenuContext, setMenuContext} from "./menu";
	import Menu from "./Menu.svelte";
	import {EMPTY_OBJECT} from "./utils";

	export let onClose: () => void;

	function handleClose() {
		onClose();
	}

	function focus(node: HTMLDivElement) {
		// svelte-check thinks that this assertion is required.
		// eslint-disable-next-line @typescript-eslint/no-unnecessary-type-assertion
		const action = node.querySelector("a[href],button:not([disabled])") as HTMLElement | null;
		(action || node).focus();
		return EMPTY_OBJECT;
	}

	function handleFocusOut(e: FocusEvent) {
		let el = e.currentTarget as HTMLDivElement;
		if (el.contains(e.relatedTarget as Node | null)) {
			// Child node.
			return;
		}

		handleClose();
	}

	setMenuContext(new MenuContext(handleClose));
</script>

<div in:focus on:focusout={handleFocusOut} tabindex=-1>
	<Card padding="0.4em 0">
		<Menu><slot/></Menu>
	</Card>
</div>

<style lang="scss">
div {
	position: relative;
	width: 0;
	height: 0;

	z-index: 10;
}

div > :global(*) {
	position: absolute;
	top: 0;
	left: 0;
	background: white;
}
</style>
