<script context="module" lang="ts">
	import { goto } from "@roxi/routify";

	import {db} from "./account";
	import Button, {ButtonStyle} from "./Button.svelte";
	import ButtonList from "./ButtonList.svelte";
	import Card from "./Card.svelte";
import { ConfirmRenameAction } from "./ConfirmRenameDialog.svelte";
	import {type RecipeId, urlEncodeRecipeId} from "./db";
	import {showDialog} from "./dialog";
	import {saveText} from "./download";
	import IngredientList from "./IngredientList.svelte";
	import {canReadRecipe, canWriteRecipe, deserializeRecipe, type Ingredient, type Recipe, SCHEMA, type Step as StepType, VERSION_READ, VERSION_WRITE} from "./recipe";
	import Spacer from "./Spacer.svelte";
	import Step from "./Step.svelte";
	import {err, exhaustive, noop} from "./utils";

	const ConfirmDialog = import("./ConfirmDialog.svelte");
	const ConfirmRenameDialog = import("./ConfirmRenameDialog.svelte");
	const FileSelect = import("./FileSelect.svelte");

	export interface SaveEvent {
		url: string,
	}
</script>

<script lang="ts">
	export let id: RecipeId | undefined = undefined;
	export let recipe: Recipe;

	export let edit = false as boolean;
	export let onSave: (_: SaveEvent) => void = noop;

	$: stagedRecipe = recipe;

	let title: string;
	let servings: number;
	let steps: readonly StepType[];
	let ingredients: Ingredient[];

	function resetLive(recipe: Recipe) {
		({
			title,
			servings,
			steps,
		} = recipe);
		ingredients = [...recipe.ingredients];
	}
	$: resetLive(stagedRecipe);

	$: scale = servings / recipe.servings;

	let el_steps: HTMLUListElement;

	async function save() {
		if (!$db) {
			return;
		}

		title ||= "Untitled";
		steps = [...el_steps.children].map(li => {
			return {
				instruction: li.textContent ?? "",
			};
		});

		let rename;
		if (id && title != recipe.title) {
			rename = +await showDialog(
				(await ConfirmRenameDialog).default,
				{
					oldTitle: recipe.title,
					newTitle: title,
				}) as ConfirmRenameAction;
		}
		if (rename != ConfirmRenameAction.COPY && !canWriteRecipe(recipe)) {
			await showDialog(
				(await ConfirmDialog).default,
				{
					title: "Overwrite Incompatible Recipe?",
					body: `${title} was created using a newer version of Recipes. Saving over it may lose data that is not understood by this version. Are you sure that you want to overwrite?`,
					action: "Overwrite",
				});
		}

		let newRecipe = {
			$schema: SCHEMA,
			version_read: VERSION_READ,
			version_write: VERSION_WRITE,

			title,
			servings,
			ingredients: [...ingredients],
			steps,
		};
		let newId = await $db.save(newRecipe);

		switch (rename) {
		case undefined:
		case ConfirmRenameAction.COPY:
			break;
		case ConfirmRenameAction.RENAME:
			await $db.flush(newId);
			await $db.delete(id!);
			break;
		default:
			exhaustive(rename);
		}

		recipe = newRecipe; // eslint-disable-line require-atomic-updates
		id = newId; // eslint-disable-line require-atomic-updates
		edit = false;

		onSave({
			url: `/private/${urlEncodeRecipeId(id)}`,
		});
	}

	function onSetScale(scale: number) {
		servings = recipe.servings * scale;
	}

	async function importFile([file]: File[]) {
		if (!file) throw err`No file selected`;

		const json = await file.text();
		stagedRecipe = {
			...deserializeRecipe(json),
			title: recipe.title,
		};
	}
</script>

<Card>
	<svelte:fragment slot=header>
		{#if !canWriteRecipe(stagedRecipe)}
			<div class=warn>
				<h2>⚠️ Warning!</h2>
				<p>
					This recipe was created by a newer version of Recipes.
					{#if !canReadRecipe(stagedRecipe)}
						It may not be displayed as intended.
					{/if}
					Saving this recipe will lose information from the original.
				</p>
				<p>
					We recommend that you reload to access using the latest version.
				</p>
			</div>
		{/if}
	</svelte:fragment>

	{#if edit}
		<h1 contenteditable bind:textContent={title}/>
	{:else}
		<h1>{title}</h1>
	{/if}
	<label>Servings: <input bind:value={servings} type=number step=any/></label>

	<h2>Ingredients</h2>
	<IngredientList
		{ingredients}
		{scale}
		{edit}
		{onSetScale}
		/>

	<h2>Steps</h2>
	{#key edit}
		<ol bind:this={el_steps} contenteditable={edit}>
		{#each steps as step}
			<li><Step {step}/></li>
		{:else}
			<li>No steps.</li>
		{/each}
		</ol>
	{/key}

	<ButtonList>
		{#if edit}
			{#if id}
				<Button
					style={ButtonStyle.DANGER}
					onClick={async () => {
						if (!id) throw err`Can't delete unsaved recipe.`;

						await showDialog(
							(await ConfirmDialog).default,
							{
								title: `Delete ${title}?`,
								body: "Are you sure you want to permanently delete this recipe?",
								action: "Delete",
							});
						await ($db && $db.delete(id));
						$goto("/");
					}}>
					Delete
				</Button>
			{/if}
			{#await FileSelect then FileSelect}
				<FileSelect.default
					accept=".recipe.json,application/json"
					onSelect={importFile}>
					Import
				</FileSelect.default>
			{/await}
		{:else}
			<Button
				onClick={() => {
					saveText(`${title}.recipe.json`, JSON.stringify(recipe), "application/json");
				}}>
				Export
			</Button>
		{/if}
		<Spacer/>
		{#if edit}
			{#if id}
				<Button
					style={ButtonStyle.DISMISS}
					onClick={() => {
						stagedRecipe = recipe;
						edit = false;
					}}>
					Cancel
				</Button>
			{/if}
			<Button
				style={ButtonStyle.PRIMARY}
				onClick={save}
				>
				Save
			</Button>
		{:else}
			<Button onClick={() => { edit = true }}>Edit</Button>
		{/if}
	</ButtonList>
</Card>

<style lang="scss">
.warn {
	display: flex;
	flex-flow: column;
	gap: 1em;
	padding: 1em;
	background: #FF0;

	> * {
		margin: 0;
	}
}
</style>
