.host {
	position: relative;
	overflow: hidden;
}

.ripple {
	position: absolute !important;
	width: 10em !important;
	height: 10em !important;
	margin: 0 !important;
	padding: 0 !important;

	left: calc(var(--x) - 5em) !important;
	top: calc(var(--y) - 5em) !important;

	border-radius: 5em !important;
	background: currentcolor !important;

	pointer-events: none !important;
}
