<script lang="ts">
	import CancelButton from "./CancelButton.svelte";
	import Dialog from "./Dialog.svelte";
	import SubmitButton from "./SubmitButton.svelte";
	import {noop} from "./utils";

	export let amount: number;
	export let onScale: (scale: number) => void;
	export let onClose = noop;

	let newAmount = amount;

	function onSubmit() {
		onScale(newAmount / amount);
	}
</script>

<Dialog {onSubmit} {onClose}>
	<h1>Scale To</h1>
	<!-- svelte-ignore a11y-autofocus -->
	<label>New Amount: <input bind:value={newAmount} type=number step=any autofocus/></label>
	<div class=actions>
		<CancelButton/>
		<SubmitButton>Scale</SubmitButton>
	</div>
</Dialog>

<style>
.actions {
	display: flex;
	justify-content: end;
	gap: 0.4em;
}
</style>
