<script lang="ts">
	import Button, {ButtonStyle, SUBMIT_VALUE} from "./Button.svelte";
	import {getDialogContext} from "./Dialog.svelte";

	export let style: ButtonStyle = ButtonStyle.PRIMARY;
	export let value: number | string = SUBMIT_VALUE;

	let dialogContext = getDialogContext();

	function onClick() {
		if (!dialogContext) return;
		dialogContext.onSubmit(`${value}`);
	}
</script>

<Button {value} {style} {onClick}>
	<slot/>
</Button>
