<script lang="ts">
	import {chip} from "./chip.module.scss";
	import ContextMenu from "./ContextMenu.svelte";
	import {showDialog} from "./dialog";
	import MenuButton from "./MenuButton.svelte";
	import MenuSeparator from "./MenuSeparator.svelte";
	import {ripple} from "./ripple";
	import Unit from "./unit";
	import {noop} from "./utils";

	const ScaleDialog = import("./ScaleDialog.svelte");

	export let unit: string;
	export let amount: string;
	export let scale: number;
	export let onSetScale: (scale: number) => void;

	function onScale(diff: number) {
		onSetScale(scale * diff);
	}

	$: sourceUnit = Unit.find(unit);
	let targetUnit = Unit.find(unit);
	$: conversion = sourceUnit.conversion(targetUnit);

	$: targetAmount = conversion(scale * +amount);
</script>

<ContextMenu>
	<button slot=main let:open class={chip} on:click={open} use:ripple>
		{targetAmount} {targetUnit.unit}
	</button>
	<svelte:fragment slot=menu>
		<MenuButton
			onClick={async () => {
				await showDialog(
					(await ScaleDialog).default,
					{
						amount: targetAmount,
						onScale,
					});
			}}
			>
			Scale this unit to…
		</MenuButton>
		<MenuSeparator/>
		{#each targetUnit.availableConversions() as unit}
			<MenuButton onClick={() => { targetUnit = unit }}>
				{unit.name()}
			</MenuButton>
		{:else}
			<MenuButton enabled={false} onClick={noop}>No known conversions.</MenuButton>
		{/each}
	</svelte:fragment>
</ContextMenu>
